# Core functionality - changes here should be rare!
/src/app.py                   @lopebrum
/src/backend/database.py      @lopebrum
/src/backend/routers/auth.py  @lopebrum

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lopebrum
